/*RESET*/
*{
    margin: 0;
    padding:0;
    border:0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

/*HEADER*/
header{
    background-color: #1d0f6e;
    color: white;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    padding: 10px 70px;
}
/*MAIN*/
    /*Section*/
.aviao{
    background-image: url(img/aviao.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    height: 750px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.aviao h2 {
color: #fff;
font-size: 90px;
width: 950px;
text-align: center;
font-weight: 500;
}

.pacote img {
    width: 400px;
    height: 600px;
    border-radius: 20px;
}


.pacote {
    border: 3px solid black;
    /*Expessura da borda, tipo de borda, cor da borda*/
    border-radius: 20px;
    text-align: center;
}


.conteiner{
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

.pacote p {
    font-size: 32px;
}

.pacote span {
    font-size: 20px;
}

.titulo {
    font-size: 90px;
    color: #1d0f6e;
    text-align: center;
    margin: 60px;

}

/*FOOTER*/
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1d0f6e;
    color: #fff;
    height: 300px;
    font-size: 48px;
}