body {
  font-family: Arial, sans-serif;
  background: #f5f5f5;
  margin: 0;
  padding: 20px;
}

h1 {
  text-align: center;
  margin-bottom: 30px;
}

section {
  background: white;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 30px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

h2 {
  color: #333;
  border-bottom: 2px solid #ccc;
  padding-bottom: 5px;
}

/* 1 */
.quadrado {
  width: 100px;
  height: 100px;
  background-color: red;
  position: relative;
  animation: mover 4s infinite;
}

@keyframes mover {
  0% { left: 0; background-color: red; }
  50% { left: 300px; background-color: blue; }
  100% { left: 0; background-color: red; }
}

/* 2 */
.colorido {
  width: 150px;
  height: 150px;
  background-color: red;
  animation: cores 6s infinite;
}

@keyframes cores {
  0% { background-color: red; }
  33% { background-color: green; }
  66% { background-color: blue; }
  100% { background-color: red; }
}

/* 3 */
.animado {
  padding: 15px 30px;
  font-size: 18px;
  color: white;
  background-color: teal;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  animation: animarBotao 5s infinite;
}

@keyframes animarBotao {
  0% {
    background-color: teal;
    color: white;
    transform: scale(1);
  }
  50% {
    background-color: orange;
    color: black;
    transform: scale(1.2);
  }
  100% {
    background-color: teal;
    color: white;
    transform: scale(1);
  }
}

/* 4 */
.piscando {
  font-size: 40px;
  text-align: center;
  animation: piscar 2s infinite;
}

@keyframes piscar {
  0% { color: red; opacity: 1; }
  33% { color: green; opacity: 0.6; }
  66% { color: blue; opacity: 0.3; }
  100% { color: red; opacity: 1; }
}

/*  5 */
.ceu {
  width: 400px;
  height: 200px;
  border: 2px solid black;
  position: relative;
  overflow: hidden;
  background: linear-gradient(to bottom, #87ceeb, #f0f8ff);
}

.sol {
  width: 90px;
  position: absolute;
  bottom: -100px;
  left: 150px;
  animation: nascerSol 6s infinite alternate;
}

@keyframes nascerSol {
  0% { bottom: -100px; opacity: 0.3; }
  100% { bottom: 100px; opacity: 1; }
}

/* 6 */
.coracao-img {
  width: 120px;
  animation: baterCoracao 1s infinite ease-in-out;
}

@keyframes baterCoracao {
  0% { transform: scale(1); }
  25% { transform: scale(1.2); }
  50% { transform: scale(1); }
  75% { transform: scale(1.2); }
  100% { transform: scale(1); }
}



/* 7 */
.flutuante {
  text-align: center;
  font-size: 30px;
  animation: flutuar 3s ease-in-out infinite;
  position: relative;
}

@keyframes flutuar {
  0% { top: 0; }
  50% { top: -20px; }
  100% { top: 0; }
}