p{
    color: black;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

button {
    height: 100px;
    width: 100px;
    border: 3px solid black;
    margin: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
}

/*-------------------------------------------*/

.botao1 {
    background-color: rgb(255, 0, 179);
    color: white;
    transition: 2s ease-in-out;
}

.botao1:hover {
    background-color: rgb(248, 151, 235);
    color: black;
}

/*-------------------------------------------*/

.botao2 {
    background-color: rgb(0, 225, 255);
    color: white;
    transition: 2s ease-in-out;
}

.botao2:hover {
    background-color: rgb(195, 240, 255);
    color: black;
}

/*-------------------------------------------*/

.botao3 {
    background-color: rgb(225, 0, 255);
    color: white;
    transition: 2s ease-in-out;
}

.botao3:hover {
    background-color: rgb(228, 140, 250);
    color: black;
}

/*-------------------------------------------*/

button{
    background-color: cyan;
}
.botao4:active {
    background-color: darkcyan;
    color: white;
    transform: scale(0.90);

}

/*-------------------------------------------*/

input:focus {
    border: 2px solid rgb(158, 158, 165);
    outline: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease;
}

/*-------------------------------------------*/

.img {
    display: flex;
    justify-content: center;
    width: 550px;
    height: 200px;
    box-shadow: 10px;
    border-radius: 30px;
    background-color: rgb(172, 5, 5);
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
     transition: ease 5s;
     box-shadow: 0px 1px 15px black;
     text-align: center;
}

.imagem22 {
    margin: 10px;
    border-radius: 30px;
    width: 200px;
    height: 150px;
}

.img:hover {
        width: 600px;
        box-shadow: 0px 1px 35px black;
        background-color: rgb(241, 167, 167) ;
}

/*-------------------------------------------*/

img {
    margin-top: 50px;
    margin-bottom: 30px;
    margin: 10px;
    width: 300px;
    height: 300px;
    border-radius: 30px;
}
img:hover {
    filter: grayscale(1);
}

/*-------------------------------------------*/

.botao5 {
    background-color: rgb(165, 164, 165);
    color: white;
    transition: 2s ease-in-out;
}

.botao5:hover {
    background-color: rgb(151, 193, 248);
    color: black;
}

.botao5:active {
    background-color: rgb(16, 47, 148);
    color: white;
    transform: scale(0.90);

}

/*-------------------------------------------*/

.formulario {
    width: 300px;
    padding: 20px;
    border: 2px solid rgb(158, 158, 165);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.formulario p {
    margin-bottom: 10px;
    font-weight: bold;
}

.confirmar {
    margin-top: 15px;
    padding: 10px 20px;
    background-color: rgb(0, 123, 255);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.confirmar:hover {
    background-color: rgb(0, 90, 190);
}

.confirmar:active {
    background-color: rgb(0, 60, 130);
}

/*-------------------------------------------*/


