.galeria {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  grid-template-rows: repeat(3, 1fr);   
  gap: 15px; 
  max-width: 900px;
  margin: 0 auto;
}


.galeria img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
  border-radius: 10px;
 
}