*{
    background-color: rgb(0, 0, 0);
}

.botoes {
  display: flex;
  justify-content: center;
  gap: 30px;
  padding: 30px;

}

.botao {
  text-decoration: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 40px;
  padding: 15px 25px;
  border-radius: 30px;
  background-color: lightblue;
  color: #000000;
  width: 200px;
  height: 100px;
}
