.titulo{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  display: flex;
  font-size: 30px;

}
.tabuleiro {
  display: grid;
  grid-template-columns: repeat(3, 100px); 
  grid-template-rows: repeat(4, 100px);   
  gap: 10px; 
  border-radius: 10px;
}


.quadrado {
  width: 100px;
  height: 100px;
  border-radius: 10px;
}


.q1 { background-color: red; }
.q2 { background-color: green; }
.q3 { background-color: blue; }
.q4 { background-color: pink; }
.q5 { background-color: lightblue; }
.q6 { background-color: yellow; }
.q7 { background-color: purple; }
.q8 { background-color: orange; }
.q9 { background-color: aquamarine; }
.q10 { background-color: orangered; }
.q11 { background-color: cadetblue; }
.q12 { background-color: palevioletred; }

.espaco{
  margin-top: 60px;
  display: flex;
  justify-content: center;
}