<<<<<<< HEAD
h1{
    font-size: 80px;
    position: fixed;
    background-color: rgb(219, 211, 211);
    top: 0;
    left: 0;
    width: 100%;
    margin: 0;
    padding: 20px;
    z-index: 1000; 


}


p{
    font-size: 40px;
    margin-top: 150px; 
    padding: 0 20px;
}

.caixa1{
    background-color: purple;
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 150px;
    height: 150px;

}

.caixa2 {
    background-color: pink;
    position: sticky;
    top: 120px; 
    padding: 20px;
    margin: 40px;

}

.caixa3{
    background-color: yellow;
     position: relative;
    top: 20px;
    left: 20px;
    width: 200px;
    height: 100px;
    margin: 20px;

=======
h1{
    font-size: 80px;
    position: fixed;
    background-color: rgb(219, 211, 211);
    top: 0;
    left: 0;
    width: 100%;
    margin: 0;
    padding: 20px;
    z-index: 1000; 


}


p{
    font-size: 40px;
    margin-top: 150px; 
    padding: 0 20px;
}

.caixa1{
    background-color: purple;
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 150px;
    height: 150px;

}

.caixa2 {
    background-color: pink;
    position: sticky;
    top: 120px; 
    padding: 20px;
    margin: 40px;

}

.caixa3{
    background-color: yellow;
     position: relative;
    top: 20px;
    left: 20px;
    width: 200px;
    height: 100px;
    margin: 20px;

>>>>>>> cb9d236914ad29b0d433006041352a91b560cfa6
}