body {
    background-image: url(img/imggg.png);
    background-repeat: no-repeat;
    background-size: cover;
    /*contain - aumenta a imagem  sem cortar (deixa espaços vazios)
    cover - aumenta a imagem  podendo cortar (não deixa espaços vazios) */
    background-position: center;
    /*left, right, center, top, bottom*/
    background-attachment: fixed;
    /*scroll - fundo mexe com o texto
    fixed - fundo fica fixo*/
    background-color: rgb(160, 10, 10);
}

body ::before{
    content: "";
    position: absolute;
    inset: 0;
    background-color: rgba(211, 211, 211, 0.571);


}

p{
    font-size: 50px;
    color: white;

}